<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/admin/_fragments :: head(~{::title})">
  <title>标签管理</title>
</head>

<body>

  <!--头部导航-->
  <nav th:replace="blog/admin/_fragments :: menu(3)">

  </nav>

  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/tags/input}" class=" item">新增</a>
        <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
      </div>
    </div>
  </div>


  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">

      <div id="table-container">
        <table  class="ui compact celled teal table">
          <thead>
          <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="tag, iterStat : ${list}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${tag.getName()}">摸鱼方法</td>
            <td>
              <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.getId()})}" class="ui mini teal basic button">编辑</a>
              <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.getId()})}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui mini pagination menu"  >
                <div class="item">        <!-- 首页 -->
                  <li>
                    <a th:href="'/admin/tags?pageNum=0'">首页</a>
                  </li>
                </div>
                <!--                <div class="item"><a th:href="@{/admin/blogs(page=${list.previousPageable().getPageNumber()})}">上一页</a></div>-->
                <!--                <div class="item"><a th:href="@{/admin/blogs(page=${list.nextPageable().getPageNumber()})}">下一页</a></div>-->
                <!--                <div class="item"><a th:href="@{/admin/blogs(page=${list.getTotalPages()-1})}">尾页</a></div>-->
                <!-- 上一页 -->
                <div class="item">
                  <li th:if="${list.hasPrevious()}">
                    <a th:href="'/admin/tags?pageNum=' + ${list.previousPageable().getPageNumber()}" th:text="上一页"></a>
                  </li>
                </div>
                <!-- 中间页 -->
                <div class="item page-item">
                  <li th:each="pageNum:${#numbers.sequence(0, list.getTotalPages() - 1)}">
                    <a th:href="'/admin/tags?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne list.pageable.getPageNumber()}"></a>
                    <a th:href="'/admin/tags?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq list.pageable.getPageNumber()}" th:class="active"></a>
                  </li>
                </div>

                <!-- 下一页 -->
                <div class="item">
                  <li th:if="${list.hasNext()}">
                    <a th:href="'/admin/tags?pageNum=' + ${list.nextPageable().getPageNumber()}" th:text="下一页"></a>
                  </li>
                </div>
                <!-- 尾页 -->
                <div class="item">
                  <li>
                    <a th:href="'/admin/blogs?pageNum=' + ${list.getTotalPages() - 1}">尾页</a>
                  </li>
                </div>
                <a href="#"  th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>

        <div class="ui segment m-inline-block">
          <p >当前第<span th:text="${list.getNumber()}"></span>页，总<span th:text="${list.getTotalPages()}"></span>页，共<span th:text="${list.getTotalElements()}"></span>条记录</p>
        </div>

        <div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${msg}">恭喜，操作成功！</p>
        </div>

      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="blog/admin/_fragments :: footer">

  </footer>

  <th:block th:replace="blog/admin/_fragments :: script">

  </th:block>

  <script>

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });

  </script>
</body>
</html>